<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bo.mapper.utils.DataBaseUtilsMapper">
    <!--关于这块用$符号的原因，用#会导入“”符号，从而导致插入失败-->
    <insert id="batchInsert">
        insert into ${tableName}
        <foreach collection="columns" index="index" separator="," open="(" close=")" item="item">
            ${item}
        </foreach>
        values
        <foreach collection="mapList" index="index" separator="," item="map">
            <foreach collection="map" index="key" separator="," open="(" close=")" item="attribute">
                #{attribute}
            </foreach>
        </foreach>;
    </insert>
    
    <update id="batchUpdate">
        <foreach collection="updateObjs" item="item" separator=";" open="" close="">
            update ${tableName}
            <set>
                <foreach collection="item" index="key" item="value" separator=",">
                    <if test="key != 'f_id'">
                        ${key} = #{value}
                    </if>

                </foreach>
            </set>
            where f_id = #{item.f_id}
        </foreach>
    </update>

    <select id="queryUpdateAttribute" resultType="map">
        select
        f_id as id,
        <foreach collection="linkedMap" item="column" separator="," index="attribute">
            ${column} as #{attribute}
        </foreach>
        from
        ${tableName}
        where f_id in
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>
</mapper>